@import './variables';

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: $darkbackground;
    height: 100vh;

    img {
        width: 300px;
    }

    button {
        padding: 0.75rem;
        border-radius: 2rem;
        background-color: $spotify;
        border: none;
        width: 15rem;

        &:hover {
            background-color: $spotifyhover;
        }
        
        a {
            text-decoration: none;
            color: white;
            font-weight: 800;
        }
    }
}


