@import './variables';

.player {
    position: fixed;
    bottom: 0;
    height: 65px;
    width: 100vw;
    background-color: $player;
    padding: 1rem 0rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px, rgba(0, 0, 0, 0.479) 0px 1px 2px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .album {
        flex: 0.3;
        display: flex;
        align-items: center;
        color: white;
        width: 300px;

        .songimage {
            height: 70px;
            width: 70px;
            margin-right: 20px;
            object-fit: contain;
        }

        .songinfo {
            h4 {
                margin-bottom: 5px;
            }
            p {
                font-size: 14px;
            }
        }
    }

    .controls {
        flex: 0.4;
        padding: 0 100px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 300px;

        .control_icon:hover, .control_green:hover {
            transition: transform 0.15s ease-in-out;
            transform: scale(1.2) !important;
        }
    }

    .volume {
        flex: 0.3;
        color: white;

        .MuiGrid-root {
            display: flex;
            align-items: center;
            justify-content: space-between;

            span {
                color: white;

                .MuiSlider-track{
                    color: $spotify;
                }
            }
        }
    }
}