.sidebarList {
    color: grey;
    height: 2rem;
    cursor: pointer;
    transition: 200ms color ease-in;
    display: flex;
    align-items: center;

    &:hover {
        color: white;
    }

    .sidebarIcon {
        padding: 0rem 0.3rem;
    }

    h4 {
        font-size: 0.7rem;
    }
}