@import './variables';

.sidebarList {
    color: grey;
    height: 40px;
    cursor: pointer;
    transition: 200ms color ease-in;
    display: flex;
    align-items: center;

    &:hover {
        color: white;
    }

    .sidebarIcon {
        margin-left: 10px;
        padding: 10px;
    }

    h4 {
        font-size: 0.7rem;
        padding: 5px;
    }

    p {
        margin-left: 20px;
        font-size: 12px;
    }
}